doctype html
html
	head
		title Maestro Productos
	body
		h1 404 not found
		p La página que estás buscando no existe.
		//img(src='vistas/imagenes/404.jpg' alt='404 imagen')
		img(src='imagenes/404.jpg' alt='404 imagen')
