doctype html
html
  head
    title TodoStock S.A.
  body
    h1= titulo
    p Bienvenido al sistema de gestión de TodoStock S.A.
    nav
      ul
        li: a(href="/maestroproductos") Gestión de Maestro de Productos
        li: a(href="/api/maestroproductos") Ver API (JSON)