doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title TodoStock
    link(rel="stylesheet", href="/css/estilos.css")
  body
    nav.barra
      a.logo(href="/")
        img(src="/imagenes/logo.png", alt="TodoStock S.A.")
      .links
        a(href="/consultas/stock") Consultar stock
        if operador
          a(href="/compras") Compras
          a(href="/ventas") Ventas
          a(href="/stock") Stock
          a(href="/reportes") Reportes
          span.usuario Hola, #{operador.nombre || operador.usuario}
          a(href="/logout") Salir
        else
          a(href="/login") Ingresar
    main.contenido
      block contenido