extends ../layout
block contenido
  h1 Stock disponible
  if error
    p.error= error
  if productos && productos.length
    table.tabla
      thead
        tr
          th ID
          th Producto
          th Saldo
      tbody
        each p in productos
          tr
            td= p.id
            td= p.nombre
            td= p.saldo
  else
    p No hay productos para mostrar.